






/*-------------------------------------------------------Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap:');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/*-------------------------------------------------------Navbar*/




.navbar{
    margin: 0;
    padding: 0;
    background-color:rgba(50, 50, 50, .97);
    min-height: 48px;
    max-height: 96px;
    border-bottom: 2px ridge #f2f2f2;
}

#collapsibleNavbar{
    max-height: 280px;
    margin: 0;
    padding: 0 12px;
    }

.navbar-brand{
    margin: 0 1%;
    padding: 6px;
    max-width: 100%;
    height: auto;
    border: 2px inset #8f2f2f;
    border-radius: 24px;
    background-color: #3a3a3a;
    }

.band-logo{
   
    max-height: 48px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    }

.navbar-toggler{
    padding-bottom: 5px;
    margin-bottom: 5px;

    }

.navbar-toggler-icon {
    margin: 0 auto;
    padding: 0;
    border: 2px outset #f2f2f2;
    border-radius: 16px;
    color: #2f2f2f;
    background-color: #8f2f2f;
    height: 24px;
    width: 24px;
    }



.navbar-nav{
    margin: 8px auto;
    padding: 8px 8px;
}

.nav-link{
    margin: 3px 24px;
    padding: 4px 24px;
    font-family: Anton, sans-serif;
    font-size: 18px;
    color: #e2e2f3 ;
    text-align: center;
    border: 2px outset #8f2f2f;
    border-radius: 4px 16px;
    background-color: #3f3f3f
    }

.nav-link:hover{
    text-shadow: 2px 2px 8px #FF0000;
    color: #2d2d2d;
}

.nav-link:active{
    text-shadow: 2px 2px 8px #FF0000;
    color: #2f2f2f
}



/*-------------------------------------------------------Section/General*/

.nav-padding{
    min-height: 48px;
}

.nav-padding-home{
    min-height: 48px;
    background-color: #4a4a4a
}

section{
    margin: 0;
    padding: 0;
}
.bg-fire{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}



/*-------------------------------------------------------Footer*/

footer{
    background-color: #2f2f2f;
    color: #f2f2f2;
    text-align: center;
    height: 40px;
}

/*-------------------------------------------------------Home*/

.hero-container{
    max-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#hero-image{
    width: 100%;
    height: auto;
}

.hero-text-container{
    position: absolute;
    top: 45%;
    left: 8%;
    color: #f2f2f2;
    background-color: rgba(80, 20, 20, .7);
    font-family: Oswald, sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 8px #ff0000;
    text-align: center;
    padding: 10px 10px 0 10px;
    border-radius: 4px 24px;
    border: 2px ridge #ff0000;
    }

.newsfeed-container{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #000000;
    border-top: 6px ridge red;
}

.newsfeed-heading{
    font-family: Anton;
    color: #f2f2f2;
    text-align: center;
}

.newsfeed-text{
    font-family: roboto;
    color: #f2f2f2;
    text-align: center;
}

iframe{
    display: block;
    padding: 0 auto;
    max-width: 90%;
    margin: 0 auto;
    border: 4px ridge #8f2f2f;
}

.home-tour-link{
    color: #f2f2f2
}

.alert{
    width: 25%;
    margin: 0 10% 40px 65%;
    background-color: rgba(100, 100, 120, .9);
    border-top: 2px ridge #f2f2f2;
    border-left: 2px ridge #f2f2f2;
    border-right: 2px ridge #f2f2f2;
    color: #2f2f2f;
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-family: Oswald;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #6f2f2f
}


/*-------------------------------------------------------Tour*/

.tour-container{
    margin: 72px auto 12px;
  
    padding: 0;
    width: 66%;
    height: 320px;
    position: relative;
    ;
}

.tour-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border-radius: 72px 72px 8px 8px;
    border: 4px ridge #ad1a1a;
    padding: 0;
    }

.tour-heading{
    position: absolute;
    left: 10%;
    top: 75%;
    width: 80%;
    font-family: Anton;
    text-align: center;
    color: #3a1a1a;
    text-shadow: 0px 1px 1px #FF0000;
    background-color: rgba(100, 100, 120, .9);
    border-radius: 36px 36px 4px 4px;
    border: 2px ridge #ad1a1a;
    padding: 10px;
    }

.tour-heading:hover{
    text-shadow: 2px 2px 8px #FF0000;
    transition: ease-in-out 1s; 
    }

.event-list-container{
    padding: 24px;
    min-width: 100%
    }

   

.tour-link{
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: rgba(80, 20, 20, .8);
    border-radius: 8px;
    border: 2px outset #f2f2f2;
    text-align: center;
    font-family: Oswald, sans-serif;
    color: #f2f2f2;
    }

.tour-link h4{
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tour-link h5{
    letter-spacing: 1px;
}
.tour-link a{

    color:#f2f2f2;
}

/*-------------------------------------------------------Media*/

.media-outer-container{
    margin: auto;
    padding: 4% 0;
    width: 80%;
    position: relative;
    max-width: 920px
    }

.media-outer-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px ridge #f2f2f2
    }

.media-outer-text{
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    color: #f2f2f2;
   }

.media-outer-text h3{
    margin: 5% auto;
    font-size: 5vw;
    text-align: center; 
    font-family: Anton;
}

.media-outer-text h4{
    font-size: 3vw; 
    font-family: Anton;
    text-align: center;
    margin: 5% auto
}

.media-outer-text p{
    margin: 5% auto;
    font-size: 2.5vw;
    font-family: Oswald; 
}

.media-step{
    position: absolute;
    min-width: 100%;
    margin: 0;
    top: 55%
    }

.media-inner-container{
    max-height: inherit;
    width: 95%;
    position: relative;
    margin: auto;
    }

.media-inner-image{
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5% 5%;
    border: 2px ridge #d2d2d2;
    }

.media-inner-text{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    background-color:rgba(50, 50, 50, .8);
    border: 2px ridge #f2f2f2;
    color: #f2f2f2;
    padding: 0 10px;
    font-size: 3vw;
}



/*-------------------------------------------------------Fanclub*/

.fanclub-container{
    min-width: 100%;
    height: 560px;;
    margin: 0;
    padding: 0;
    position: relative;
   
    }

#fanclub-image{
    width: 100%;
    height: 100%;
   
    object-fit: cover
    }

.join-container{
    position: absolute;
    left: 12.5%;
    top: 40%;
    width: 75%;
    font-family: Anton;
    text-align: center;
    color: #f2f2f2;
    background-color: rgba(50, 50, 50, .8);
    border-radius: 4px 36px;
    border: 2px ridge #f2f2f2;
    padding: 10px;
    }

.reasons-to-join{
    font-family: Oswald, sans-serif;
    color: #f2f2f2;
    text-align: center;
    background-color: #8f2f2f;
}

.reasons-to-join ol{
    padding: 0;
    margin: 0 auto;
}

/*-------------------------------------------------------sign-up*/

.sign-up-bg{
    z-index: -1;
    width: 100%;
    height: 100%;
    
    background-color: #000000;
    position: sticky;
    bottom: 0; 
    object-fit: cover;

}

.sign-up-container{
    
    width: 88%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    
}

.sign-up-image{
   
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;

}

.sign-up-form{
    position: absolute;
    z-index: 0;
    top: 25%;
    left: 12%;
    width: 72%;
    text-align: center;
    font-family: Metal Mania;
    font-size: 150%;
    color: #af2f2f;
    text-shadow: 2px 2px 1px #2f2f2f;
    
}

.sign-up-form h1{
    font-family: Metal Mania;
    font-size: 125;
    color: #af2f2f;
    text-shadow: 2px 2px 1px #2f2f2f;
    margin-bottom: 2%;
    
}

.sign-up-form h2{
    font-family: Metal Mania;
    font-size: 100%;
    color: #af2f2f;
    text-shadow: 2px 2px 1px #2f2f2f;
    padding-top: 2%;
    
 
   
    
}

.sign-up-form p{
    font-family: Metal Mania;
    font-size: 75%;
    color: #af2f2f;
    text-shadow: 2px 2px 1px #2f2f2f;
    margin: 0 auto;

    
}

input{
    margin: 5% auto
}

input[type=button], input[type=submit], input[type=reset] {
    color: #f2f2f2;
    background-color: rgba(50, 50, 50, .8);
    border-radius: 4px 36px;
    border: 2px ridge #f2f2f2;
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


    