/*----------fonts----------*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap:');

/*----------navbar---------*/

.navbar{
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    height: 48px;
    min-width: 100%;
    z-index: 1;
}

.navbar-brand{
    text-align: center;
    padding: 1px;
    margin: 0;
}

.band-logo{
    height: 44px;
    padding: 2px;
    border-radius: 4px 16px;
}

.navbar-toggler{
    position: relative;
    padding: 0;
}

.navbar-toggler-icon {
    position: absolute;
    top: -36px;
    left: 90%;
    margin:0 auto;
    padding: 4px;
    border: 2px outset #d3d3d3;
    border-radius: 12px;
    color: #2f2f2f;
    background-color: #d3d3d3;
    height: 32px;
    width: 32px;
}

.navbar-nav{
    width: 100%;
    background-color: #2f2f2f;
}

.nav-link{
    width: 66%;
    margin: 4px auto;
    padding: 0;
    height: 32px;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: #2f2f2f ;
    text-align: center;
    border: 2px outset #d3d3d3;
    border-radius: 4px 16px;
    background-color: #d3d3d3;
}

.nav-link:hover{
    color: #f2f2f2;
    background-color: #2f2f2f;
    text-shadow: 3px 3px #8f2f2f;
    border: 2px inset #d3d3d3;
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

/*----------footer----------*/

footer{
    width: 100%;
    height: 50px;
    background-color: #2f2f2f;
}

.footer-container>.list-inline{
    margin-bottom: 0;   
}

.social-link-container{
    text-align: center;    
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
    font-size: 28px;
    color: #f2f2f2;
    text-align: center;
    max-width: 33.33%;
}

.copyright-container{
    position: relative;
    height: 0px;
}

.copyright-text{
    position: absolute;
    right: -4px;
    bottom: -4px;
    color: #f2f2f2;
    font-size: 8px;
    line-height: 1;
    margin: 2px
}

/*----------social links----------*/

.youtube a{
    color: rgb(212, 41, 41);
    text-shadow: 0.4px .4px .9px  #f2f2f2;
}

.facebook a{
    color: rgb(59, 92, 192);
    text-shadow: 1px 1px #f2f2f2;
}

.twitter a{
    color: rgb(117, 197, 229);
    text-shadow: 1px 1px #f2f2f2;
}

.social-link:hover{
    color: #f2f2f2;
    text-shadow: 3px 3px #8f2f2f;
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

/*----------general----------*/

.nav-padding{
    min-height: 48px;
    margin: 0;
    padding: 0;
}

/*----------home----------*/

.hero-container{
    max-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

#hero-image{
    width: 100%;
    height: auto;
}

.hero-text-container{
    position: absolute;
    top: 44%;
    left: 8%;
    color: #f2f2f2;
    background-color: rgba(80, 20, 20, .7);
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px 8px #ff0000;
    text-align: center;
    padding: 10px 10px 0 10px;
    border-radius: 4px 24px;
    border: 2px ridge #ff0000;
}

.newsfeed-container{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
}

.newsfeed-container>h2{
    text-shadow: 2px 2px 2px #63c5c5c7;
    font-family: "Anton", sans-serif;
    color: #2f2f2f;
}

.newsfeed-container>p{
    font-family: "Oswald", sans-serif;
    color: #000000;
    font-size: 18px;
}
 
video{
    width: 80%;
    background-color: #f2f2f2;
}

/*----------tour----------*/

.tour-heading{
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #63c5c5c7;
    letter-spacing: 2px;
    text-align: center;
    margin: 8%;
}

.event-list{
    margin-bottom: 5%;
}

.tour-link{
    background-color: #2f2f2f;
    border-radius: 0px 0px 36px 36px;
    border: 2px outset #007373;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    width: 90%;
    margin: 5%;
    text-align: center;
}

.tour-link>h4{
    text-shadow: 0px 1px 0px  #000000;
    text-transform: uppercase;
    text-decoration: underline;
    height: 18%;
}

.tour-link>h5{
    color: #007373;
    text-shadow: 0px 1px 0px  #2f2f2f;
    text-decoration: underline;
    height: 18%;
}

.tour-link>p{
    text-decoration: underline;
    border: 2px outset #007373;
    border-radius: 36px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.tour-link:hover{
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
    color: white;
    background-color: black;
}

/*----------media----------*/

.media-container{
    background-color: #f2f2f2;
    max-width: 95%;
    margin: 2.5%;
    padding: 2.5%;
}

.media-link{
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    color: #2f2f2f;
}

.media-link:hover{
    text-shadow: 0px 2px #8f2f2f;
    text-decoration: none;
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
    color: black;
}

.media-image{
    
    margin : auto;
    color: #f2f2f2;
    font-family: "Anton", sans-serif;
    text-align: center;
}

.media-text{
    background-color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    color: #2f2f2f;
    padding: 32px 16px;
}

/*----------fanclub----------*/

.join-container{
    width: 66%;
    margin: 48px auto;
    font-family: "Anton", sans-serif;
    text-align: center;
    color: #f2f2f2;
    background-color: #2f2f2f;
    border-radius: 4px 36px;
    padding: 40px;
}

.join-container>button{
    height: 32px;
    font-size: 14px;
    line-height: 1;
    color: #2f2f2f ;
    text-align: center;
    border: 2px outset #f2f2f2;
    border-radius: 4px 16px;
    background-color: #d3d3d3;
}

.join-container>button:hover{
    color: #f2f2f2;
    background-color: #2f2f2f;
    text-shadow: 3px 3px #8f2f2f;
    border: 2px inset #d3d3d3;
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}

.reasons-to-join{
    font-family: "Oswald", sans-serif;
    color: #2f2f2f;
    text-align: center;
    background-color: #f2f2f2;
    padding: 24px;
}

.reasons-to-join>ol{
    margin: 48px;
    padding: 0;
}

/*----------modal----------*/

.modal-title{
    font-family: "Anton", sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.dismiss-btn{
    font-size: 40px;
    
}

.modal-dialogue{
    margin: auto;
    padding: 4% 0;
    width: 80%;
    position: relative;
    max-width: 920px;
    height: 50%;
}

.modal-content{
    text-align: center;
    background-color: #f2f2f2;
    color: #2f2f2f;
    border: 2px outset #f2f2f2
}

.modal-content input{
    background-color: #d3d3d3;
    margin: 3px 0;
    padding: 0;
    border: 2px inset #f2f2f2;
    color: #000000;
    font-family: "Oswald", sans-serif;
}

.modal .btn{
    border: 2px outset #f2f2f2;
    border-radius: 4px 16px;
    background-color: #d3d3d3;
    font-family: "Oswald", sans-serif;
}

.modal .btn:hover{
    color: #f2f2f2;
    background-color: #2f2f2f;
    text-shadow: 3px 3px #8f2f2f;
    border: 2px inset #d3d3d3;
    -webkit-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
    transition: ease-in-out .4s;
}